.cart {
     padding-top: 150px;
     padding-bottom: 170px;
}

.cart-block {
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.cart-block__item-title {
    width: 330px;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 130%;
    font-weight: 600;
    color: #1265FA;
    border-bottom: 2px solid #BDD5FF
}
.cart-block__item-text {
    margin-top: 40px;
    color: #75849E;
    font-weight: 500px;
   width: 330px;
}