html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	font-family: 'Raleway';
	font-size: 20px;
	line-height: 140%;
	font-weight: 400;
	color: #75849E;
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	cursor: pointer;
}
.container{
  max-width:1190px;
  margin: 0 auto;
  padding: 0 15px;
}
.title{
	font-weight: 600;
	font-size: 40px;
	line-height: 130%;;
}





